@(message: String)
@main("Portfolio Tristan Delgado") {
    <section layout="row" flex class="height100p" ng-cloak data-ng-controller="adminController" ng-cloak>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar>
                <h1 class="md-toolbar-tools">
                    Admin
                    <div flex></div>
                    <md-button ng-click="directive.close()"
                    class="md-primary toggle-button md-fab md-mini" hide-gt-md>
                        <i class="fa fa-times"></i>
                    </md-button>
                </h1>
            </md-toolbar>
            <md-content layout-padding >
                <div>
                    <div class="column md-whiteframe-z1" ng-repeat="project in projects">
                        <h5>{{project.name}}</h5>
                        <md-button class="md-fab md-mini float-right md-primary" ng-click="controller.setProject(project)"><i class="fa fa-pencil"></i></md-button>
                        <md-button class="md-fab md-mini float-right md-warn" ng-click="controller.delete(project.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewProject()" class="md-primary md-raised">Ajouter un projet</md-button>
                </div>
            </md-content>
        </md-sidenav>
        <md-content style="overflow: hidden; height: inherit" flex>
            <md-toolbar>
                <div class="md-toolbar-tools" >
                    <md-button aria-label="menu" class="md-fab md-primary md-mini toggle-button" ng-click="directive.toggleLeft()" hide-gt-md>
                        <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
                    </md-button>
                    <md-button href="./" aria-label="home" class="md-fab md-primary md-mini">
                        <i class="fa fa-home"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout="column" layout-fill layout-align="top center">
                <form class="column" ng-if="newProject" ng-submit="controller.updateProjects()">
                    <md-input-container class="column large-12">
                        <label>Name</label>
                        <input ng-model="newProject.name"/>
                    </md-input-container>
                    <md-input-container class="column large-12">
                        <label>Description</label>
                        <textarea ng-model="newProject.description"></textarea>
                    </md-input-container>
                    <div class="column large-12">
                        <img ng-src="{{newProject.image}}" id="projectImage" class="column large-6"/>
                        <md-input-container>
                            <label></label>
                            <input type="file"
                            value="Charger une image"
                            ng-init="controller.setSize()"
                            app-filereader="newProject.image">
                        </md-input-container>
                    </div>
                    <h3>Tags <span
                    class="pointer tag"
                    ng-repeat="tag in tags"
                    ng-if="newProject.tags.indexOf(tag) == -1"
                    ng-click="newProject.tags.push(tag)">{{tag}} +</span></h3>
                    <md-chips ng-model="newProject.tags" readonly="false"></md-chips>
                    <h3>technologies</h3>
                    <div class="column paddingBottom10">
                        <span ng-repeat="technologie in newProject.technologies" class="float-left ">
                            <i class="fa fa-times float-right top pointer" ng-click="newProject.technologies.splice($index, 1)"></i>
                            <md-button href="#" class="md-fab md-mini md-icon-button md-primary">
                                <md-icon md-svg-src="{{technologie}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                    <md-divider class="column"></md-divider>
                    <h4 class="column">add technology</h4>
                    <md-fab-speed-dial md-open="controller.isOpen" md-direction="down"
                    class="md-fling float-left">
                        <md-fab-trigger>
                            <a aria-label="menu" class=" md-button md-fab md-primary">
                                <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
                            </a>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <div ng-repeat="technologie in technologies" class="tooltip-trigger relative " ng-show="controller.isOpen">
                                <a  class="md-button md-fab md-raised md-mini md-primary" ng-click="controller.addTechnologie(technologie)">
                                    <md-icon md-svg-src="{{technologie}}"></md-icon>
                                </a>
                                <i class="tooltip-custom animated marginLeft50 top0">
                                    {{controller.refactorTech(technologie)}}
                                </i>
                            </div>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                    <div class="column medium-8 md-whiteframe-z1" flex>
                        <b class="column">Add new technology</b>
                        <md-input-container class="column">
                            <label class="float-right text-center width100p">New technologie icon (.svg 25*25)</label>
                            <input type="file"
                            value="Charger une image"
                            app-filereader="newTechnologie">
                        </md-input-container>
                        <a ng-click="newProject.technologies.push(newTechnologie); newTechnologie = ''"
                        class="md-button md-raised md-primary" ng-show="newTechnologie">Ajouter la nouvelle techno(! .svg 25*25px)</a>
                        <a class="md-button md-raised md-primary"
                        ng-show="!newTechnologie" ng-disabled="!newTechnologie">Ajoutez un fichier nommé du nom de la technologie .svg 25*25px puis validez ici</a>
                    </div>
                    <md-divider class="column"></md-divider>
                    <md-input-container class="column large-12">
                        <label>Date</label>
                        <input ng-model="newProject.date" type="date" />
                    </md-input-container>
                    <md-checkbox ng-model="newProject.isLandscape" class="column md-primary">
                        isLandScape: {{newProject.isLandscape}}
                    </md-checkbox>
                    <md-input-container class="column large-12">
                        <label>maxWidth</label>
                        <input ng-model="newProject.maxWidth" type="number" />
                    </md-input-container>
                    <md-input-container class="column large-12">
                        <label>maxHeight</label>
                        <input ng-model="newProject.maxHeight" type="number" />
                    </md-input-container>
                    <md-divider class="column"></md-divider>
                    <div class="column">
                        <md-button type="submit" class="md-primary md-raised float-left">Submit</md-button>
                        <div class="float-left">
                            <b ng-if="status != 'false'">{{status}}</b>
                            <md-progress-circular md-mode="indeterminate" ng-show="status == 'inProgress'"></md-progress-circular>
                            <i class="fa fa-check" ng-show="status == 'validate'"></i>
                            <i class="fa fa-times" ng-show="status == 'error'"></i>
                        </div>
                    </div>
                </form>
                <div class="column large-12 paddingBottom50 marginBottom30"></div>
            </md-content>
        </md-content>
    </section>
}


