@(message: String)

@main("Portfolio Tristan Delgado") {
<div ng-controller="projectController" class="height100p" ng-cloak>
  <md-toolbar md-scroll-shrink ng-if="true && !$root.full">
    <div class="md-toolbar-tools">
      <h1 class="textColorWhite">Tristan Delgado</h1>
      <ng-include src="'/assets/templates/mainMenu.html'" class="hidden-for-small" style="display: flex" hide-sm></ng-include>
      <a aria-label="menu" ng-click="$root.showMenu = !$root.showMenu" class=" md-button md-fab md-mini md-primary" hide-gt-sm>
          <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
        </a>
      <md-input-container>
        <label>Filtres</label>
        <md-select ng-model="filter">
          <md-option ng-repeat="tag in tags" value="{{tag}}" ng-click="controller.filter(tag)">
            {{tag}}
          </md-option>
          <md-option  value="NoFilter" ng-click="controller.removeFilter()">
            Supprimer les filtres
          </md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
      <span ng-click="$root.full = true" ng-if="controller.slider && !controller.showCv" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
          <i class="fa fa-arrows-alt" ></i>
        </md-button>
        <i class="tooltip-custom animated ">
          Full slider
        </i>
      </span>
      <span ng-click="controller.slider = false" ng-if="controller.slider && !controller.showCv" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
          <i class="fa fa-times" ></i>
        </md-button>
        <i class="tooltip-custom animated ">
          Close slider
        </i>
      </span>
      <span ng-click="controller.showCv = false" ng-if="controller.showCv" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
          <i class="fa fa-times" ></i>
        </md-button>
        <i class="tooltip-custom animated ">
          Close C.V
        </i>
      </span>
    </div>
  </md-toolbar>
  <ng-include src="'/assets/templates/mainMenu.html'" class="width100p" ng-if="$root.showMenu" hide-gt-sm></ng-include>
  <div class="absolute column large-12 paddingTop50 md-whiteframe-z5 zIndex6 text-center left0 height100p"
  style=" background: rgba(82, 96, 171, 0.38);  overflow: auto"  ng-if="controller.showCv">
    <div class="absolute top0 left0 right0 bottom0 zIndex1" ng-click="controller.showCv = false"></div>
    <img src="assets/images/cv.png" class="zIndex2"/>
    <span  class="column large-12 text-center paddingBottom50 marginBottom50 zIndex2" >
      <a href="assets/images/cv.png" download="cv.png" target="_blank" aria-label="Download" class="md-button md-primary md-fab" >
        <i class="fa fa-download"></i>
      </a>
      <b><a href="assets/images/cv.png" download="cv.png" target="_blank" >
        Download
      </a></b>
    </span>
    <div hide-gt-sm class="paddingBottom50 column" ng-if="$root.showMenu"></div>
  </div>
  <div class="absolute column large-12 paddingTop50 md-whiteframe-z5 zIndex6 text-center left0 height100p"
  style=" background: rgba(82, 96, 171, 0.38);  overflow: auto"  ng-if="controller.showContact">
    <div class="absolute top0 left0 right0 bottom0 zIndex1" ng-click="controller.showContact = false"></div>
    <span  class="column large-12 text-center textColorWhite paddingBottom50 marginBottom50 zIndex2" >
      <div ng-bind-html="contact"> </div>
    </span>
    <div hide-gt-sm class="paddingBottom50 column" ng-if="$root.showMenu"></div>
  </div>
  <md-content class="height100p zIndex1 mainContainer width100p" id="container" style="height: 100%" >
    <div class="height100p width100p float-left"  data-ng-view=""></div>
  </md-content>
</div>
}
