@(message: String)

@main("Portfolio Tristan Delgado") {
<div ng-controller="projectController" class="height100p" ng-cloak>
  <md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <ng-include src="'/assets/templates/mainMenu.html'" class="hidden-for-small" style="display: flex" hide-sm></ng-include>
        <a aria-label="menu" ng-click="$root.showMenu = !$root.showMenu" class=" md-button md-fab md-mini md-primary" hide-gt-sm>
          <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
        </a>
      <md-input-container>
        <label>Filters</label>
        <md-select ng-model="filter">
          <md-option ng-repeat="tag in tags" value="{{tag}}" ng-click="controller.filter(tag)">
            {{tag}}
          </md-option>
          <md-option  value="NoFilter" ng-click="controller.removeFilter()">
            NoFilter
          </md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
      <span ng-if="controller.slider" hide-sm>
        <md-button><b class="textColorWhite">{{projects[index].name}}</b></md-button>
        <span ng-repeat="technologie in projects[index].technologies" class="float-right tooltip-trigger animated fadeIn">
          <md-button href="#" class="md-fab md-mini md-icon-button md-primary "
          aria-label="{{controller.refactorTech(technologie)}}">
            <md-icon md-svg-src="{{technologie}}"></md-icon>
          </md-button>
          <i class="tooltip-custom animated ">
            {{controller.refactorTech(technologie)}}
          </i>
        </span>
      </span>
      <span ng-click="controller.slider = false" ng-if="controller.slider" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
          <i class="fa fa-times" ></i>
        </md-button>
        <i class="tooltip-custom animated ">
          Close slider
        </i>
      </span>
      <span ng-click="controller.showCv = false" ng-if="controller.showCv" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
          <i class="fa fa-times" ></i>
        </md-button>
        <i class="tooltip-custom animated ">
          Close C.V
        </i>
      </span>
    </div>
  </md-toolbar>
  <ng-include src="'/assets/templates/mainMenu.html'" class="width100p" ng-if="$root.showMenu" hide-gt-sm></ng-include>
  <span ng-if="controller.slider" hide-gt-sm>
    <md-button><b class="textColorWhite">{{projects[index].name}}</b></md-button>
    <span ng-repeat="technologie in projects[index].technologies" class="float-right tooltip-trigger animated fadeIn">
      <md-button href="#" class="md-fab md-mini md-icon-button md-primary "
      aria-label="{{controller.refactorTech(technologie)}}">
        <md-icon md-svg-src="{{technologie}}"></md-icon>
      </md-button>
      <i class="tooltip-custom animated ">
        {{controller.refactorTech(technologie)}}
      </i>
    </span>
  </span>
  <div class="absolute column large-12 paddingTop50 md-whiteframe-z5 zIndex6 text-center left0 height100p"
  style=" background: rgba(82, 96, 171, 0.38);  overflow: auto"  ng-if="controller.showCv">
    <img src="assets/images/cv.png" />
    <span  class="column large-12 text-center">
      <a href="assets/images/cv.png" download="cv.png" target="_blank" aria-label="Download" class="md-button md-primary md-fab" >
        <i class="fa fa-download"></i>
      </a>
      <b><a href="assets/images/cv.png" download="cv.png" target="_blank" >
        Download
      </a></b>
    </span>
    <div class="paddingBottom50 marginBottom50 column"></div>
  </div>
  <md-content class="height100p zIndex1 mainContainer width100p" style="height: 100%" data-ng-view=""></md-content>
</div>
}
