@import "../componentsSettings/foundation";
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../client/src/main/scala/Projects/project";


body, html {
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #E8DDCB;
}
.mainContainer {
  background: #E8DDCB;

  overflow-x: visible!important;
}
.chevron::before {
  vertical-align: middle;
  border-style: solid;
  border-color: #031634;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 4.5em;
  left: 0.20em;
  position: relative;
  top: 0.20em;
  transform: rotate(-45deg);
  width: 4.5em;
}

@media screen {
  div#preloader {
    position: absolute;
    left: -9999px;
    top:  -9999px;
  }
  div#preloader img {
    display: block;
  }
}
@media print {
  div#preloader,
  div#preloader img {
    visibility: hidden;
    display: none;
  }
}

.slider {
  background: #E8DDCB;
  text-align: center;
}

.tag {
  font-size: 12px;
  border-radius: 10px;
  background: rgba(3, 54, 73, 0.75);
  padding: 5px;
  color: white;
  margin: 2px;
  font-weight: bold;
}
.chevron.right:before {
  left: -1.9em;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.95em;
  transform: rotate(-135deg);
}
.tooltip-custom {
  display: none;
  animation: fadeIn 1s ;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  position: absolute;
  font-weight: bold;
  top: 55px;
  margin-left: -20px;
  font-size: 13px;
  left: auto;
  right: auto;
  background: rgba(3, 54, 73, 0.75);
  border-radius: 5px;
  padding: 5px;
  color: white;}
.tooltip-trigger:hover >.tooltip-custom {
  display: block;
}

@media only screen and (max-width: 750px) {
  .tooltip-trigger:hover >.tooltip-custom {
    display: none;
  }
  .imageSlider {
    vertical-align: top!important;
  }
}