/*Positions*/
/* line 4, ../scss/tools.scss */
.fixed {
    position: fixed !important;
}

/* line 5, ../scss/tools.scss */
.relative {
    position: relative !important;
}

/* line 6, ../scss/tools.scss */
.absolute {
    position: absolute !important;
}

/* line 7, ../scss/tools.scss */
.top0 {
    top: 0 !important;
}

/* line 8, ../scss/tools.scss */
.bottom0 {
    bottom: 0 !important;
}

/* line 9, ../scss/tools.scss */
.left0 {
    left: 0 !important;
}

/* line 10, ../scss/tools.scss */
.right0 {
    right: 0 !important;
}

/* line 11, ../scss/tools.scss */
.float-left {
    float: left !important;
}

/* line 12, ../scss/tools.scss */
.float-right {
    float: right !important;
}

/* line 13, ../scss/tools.scss */
.float-none {
    float: none !important;
}

/* line 14, ../scss/tools.scss */
.hiddenBlock {
    position: absolute;
    top: -99999px;
    opacity: 0;
}

/*Colors*/
/* line 16, ../scss/tools.scss */
.primCol {
    background-color: #581030 !important;
    color: #ffffff !important;
}

/* line 17, ../scss/tools.scss */
.primCol > a {
    color: #ffffff;
}

/*.primCol:hover {background: #007095}*/
/* line 19, ../scss/tools.scss */
.white {
    background: #ffffff;
}

/* line 20, ../scss/tools.scss */
.button.active {
    background: #581030;
    color: #ffffff !important;
}

/* line 21, ../scss/tools.scss */
.BlackTrans {
    background: rgba(0, 0, 0, 0.25);
}

/* line 22, ../scss/tools.scss */
.transparent {
    background: transparent !important;
}

/*z-index*/
/* line 24, ../scss/tools.scss */
.zIndex1 {
    z-index: 1;
}

/* line 25, ../scss/tools.scss */
.zIndex2 {
    z-index: 2;
}

/* line 26, ../scss/tools.scss */
.zIndex3 {
    z-index: 3;
}

/* line 27, ../scss/tools.scss */
.zIndex4 {
    z-index: 4;
}

/* line 28, ../scss/tools.scss */
.zIndex5 {
    z-index: 5;
}

/* line 29, ../scss/tools.scss */
.zIndex6 {
    z-index: 6;
}

/* line 30, ../scss/tools.scss */
.shadow {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 31, ../scss/tools.scss */
.rounded {
    border-radius: 3px;
}

/* line 32, ../scss/tools.scss */
.scrollAuto {
    overflow-y: auto;
}

/*text*/
/* line 34, ../scss/tools.scss */
.center {
    text-align: center !important;
}

/* line 35, ../scss/tools.scss */
.justify {
    text-align: justify !important;
}

/* line 36, ../scss/tools.scss */
.textLeft {
    text-align: left !important;
}

/* line 37, ../scss/tools.scss */
.textRight {
    text-align: right !important;
}

/* line 38, ../scss/tools.scss */
.textColorWhite {
    color: white;
}

/* line 39, ../scss/tools.scss */
.textPrimColor {
    color: #581030;
}

/*effects*/
/* line 42, ../scss/tools.scss */
.pointer {
    cursor: pointer;
}

/* line 43, ../scss/tools.scss */
.cursorHelp {
    cursor: help;
}

/* line 44, ../scss/tools.scss */
.cursorAuto {
    cursor: auto;
}

/*margin*/
/* line 47, ../scss/tools.scss */
.marginList {
    margin-left: 0.85% !important;
    margin-right: 0.85%;
}

/* line 48, ../scss/tools.scss */
.marginAuto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* line 49, ../scss/tools.scss */
.margin0 {
    margin: 0 !important;
}

/* line 50, ../scss/tools.scss */
.margin10 {
    margin: 10px !important;
}

/* line 51, ../scss/tools.scss */
.margin20 {
    margin: 20px !important;
}

/* line 52, ../scss/tools.scss */
.margin30 {
    margin: 30px !important;
}

/* line 53, ../scss/tools.scss */
.margin40 {
    margin: 40px !important;
}

/* line 54, ../scss/tools.scss */
.margin50 {
    margin: 50px !important;
}

/*left*/
/* line 56, ../scss/tools.scss */
.marginLeft0 {
    margin-left: 0 !important;
}

/* line 57, ../scss/tools.scss */
.marginLeft10 {
    margin-left: 10px !important;
}

/* line 58, ../scss/tools.scss */
.marginLeft20 {
    margin-left: 20px !important;
}

/* line 59, ../scss/tools.scss */
.marginLeft30 {
    margin-left: 30px !important;
}

/* line 60, ../scss/tools.scss */
.marginLeft40 {
    margin-left: 40px !important;
}

/* line 61, ../scss/tools.scss */
.marginLeft50 {
    margin-left: 50px !important;
}

/*right*/
/* line 63, ../scss/tools.scss */
.marginRight0 {
    margin-right: 0 !important;
}

/* line 64, ../scss/tools.scss */
.marginRight10 {
    margin-right: 10px !important;
}

/* line 65, ../scss/tools.scss */
.marginRight20 {
    margin-right: 20px !important;
}

/* line 66, ../scss/tools.scss */
.marginRight30 {
    margin-right: 30px !important;
}

/* line 67, ../scss/tools.scss */
.marginRight40 {
    margin-right: 40px !important;
}

/* line 68, ../scss/tools.scss */
.marginRight50 {
    margin-right: 50px !important;
}

/*top*/
/* line 70, ../scss/tools.scss */
.marginTop0 {
    margin-top: 0 !important;
}

/* line 71, ../scss/tools.scss */
.marginTop10 {
    margin-top: 10px !important;
}

/* line 72, ../scss/tools.scss */
.marginTop20 {
    margin-top: 20px !important;
}

/* line 73, ../scss/tools.scss */
.marginTop30 {
    margin-top: 30px !important;
}

/* line 74, ../scss/tools.scss */
.marginTop40 {
    margin-top: 40px !important;
}

/* line 75, ../scss/tools.scss */
.marginTop50 {
    margin-top: 50px !important;
}

/*bottom*/
/* line 77, ../scss/tools.scss */
.marginBottom0 {
    margin-bottom: 0 !important;
}

/* line 78, ../scss/tools.scss */
.marginBottom10 {
    margin-bottom: 10px !important;
}

/* line 79, ../scss/tools.scss */
.marginBottom20 {
    margin-bottom: 20px !important;
}

/* line 80, ../scss/tools.scss */
.marginBottom30 {
    margin-bottom: 30px !important;
}

/* line 81, ../scss/tools.scss */
.marginBottom40 {
    margin-bottom: 40px !important;
}

/* line 82, ../scss/tools.scss */
.marginBottom50 {
    margin-bottom: 50px !important;
}

/*padding*/
/* line 85, ../scss/tools.scss */
.padding0 {
    padding: 0 !important;
}

/* line 86, ../scss/tools.scss */
.padding10 {
    padding: 10px !important;
}

/* line 87, ../scss/tools.scss */
.padding20 {
    padding: 20px !important;
}

/* line 88, ../scss/tools.scss */
.padding30 {
    padding: 30px !important;
}

/* line 89, ../scss/tools.scss */
.padding40 {
    padding: 40px !important;
}

/* line 90, ../scss/tools.scss */
.padding50 {
    padding: 50px !important;
}

/* line 91, ../scss/tools.scss */
.padding1 {
    padding: 1em !important;
}

/* line 92, ../scss/tools.scss */
.padding2 {
    padding: 2em !important;
}

/* line 93, ../scss/tools.scss */
.padding3 {
    padding: 3em !important;
}

/* line 94, ../scss/tools.scss */
.padding4 {
    padding: 4em !important;
}

/* line 95, ../scss/tools.scss */
.padding5 {
    padding: 5em !important;
}

/*left*/
/* line 97, ../scss/tools.scss */
.paddingLeft0 {
    padding-left: 0 !important;
}

/* line 98, ../scss/tools.scss */
.paddingLeft10 {
    padding-left: 10px !important;
}

/* line 99, ../scss/tools.scss */
.paddingLeft20 {
    padding-left: 20px !important;
}

/* line 100, ../scss/tools.scss */
.paddingLeft30 {
    padding-left: 30px !important;
}

/* line 101, ../scss/tools.scss */
.paddingLeft40 {
    padding-left: 40px !important;
}

/* line 102, ../scss/tools.scss */
.paddingLeft50 {
    padding-left: 50px !important;
}

/* line 103, ../scss/tools.scss */
.paddingLeft1 {
    padding-left: 1em !important;
}

/* line 104, ../scss/tools.scss */
.paddingLeft2 {
    padding-left: 2em !important;
}

/* line 105, ../scss/tools.scss */
.paddingLeft3 {
    padding-left: 3em !important;
}

/* line 106, ../scss/tools.scss */
.paddingLeft4 {
    padding-left: 4em !important;
}

/* line 107, ../scss/tools.scss */
.paddingLeft5 {
    padding-left: 5em !important;
}

/*right*/
/* line 109, ../scss/tools.scss */
.paddingRight0 {
    padding-right: 0 !important;
}

/* line 110, ../scss/tools.scss */
.paddingRight10 {
    padding-right: 10px !important;
}

/* line 111, ../scss/tools.scss */
.paddingRight20 {
    padding-right: 20px !important;
}

/* line 112, ../scss/tools.scss */
.paddingRight30 {
    padding-right: 30px !important;
}

/* line 113, ../scss/tools.scss */
.paddingRight40 {
    padding-right: 40px !important;
}

/* line 114, ../scss/tools.scss */
.paddingRight50 {
    padding-right: 50px !important;
}

/* line 115, ../scss/tools.scss */
.paddingRight1 {
    padding-right: 1em !important;
}

/* line 116, ../scss/tools.scss */
.paddingRight2 {
    padding-right: 2em !important;
}

/* line 117, ../scss/tools.scss */
.paddingRight3 {
    padding-right: 3em !important;
}

/* line 118, ../scss/tools.scss */
.paddingRight4 {
    padding-right: 4em !important;
}

/* line 119, ../scss/tools.scss */
.paddingRight5 {
    padding-right: 5em !important;
}

/*top*/
/* line 121, ../scss/tools.scss */
.paddingTop0 {
    padding-top: 0 !important;
}

/* line 122, ../scss/tools.scss */
.paddingTop10 {
    padding-top: 10px !important;
}

/* line 123, ../scss/tools.scss */
.paddingTop20 {
    padding-top: 20px !important;
}

/* line 124, ../scss/tools.scss */
.paddingTop30 {
    padding-top: 30px !important;
}

/* line 125, ../scss/tools.scss */
.paddingTop40 {
    padding-top: 40px !important;
}

/* line 126, ../scss/tools.scss */
.paddingTop50 {
    padding-top: 50px !important;
}

/* line 127, ../scss/tools.scss */
.paddingTop1 {
    padding-top: 1em !important;
}

/* line 128, ../scss/tools.scss */
.paddingTop2 {
    padding-top: 2em !important;
}

/* line 129, ../scss/tools.scss */
.paddingTop3 {
    padding-top: 3em !important;
}

/* line 130, ../scss/tools.scss */
.paddingTop4 {
    padding-top: 4em !important;
}

/* line 131, ../scss/tools.scss */
.paddingTop5 {
    padding-top: 5em !important;
}

/*bottom*/
/* line 133, ../scss/tools.scss */
.paddingBottom0 {
    padding-bottom: 0 !important;
}

/* line 134, ../scss/tools.scss */
.paddingBottom10 {
    padding-bottom: 10px !important;
}

/* line 135, ../scss/tools.scss */
.paddingBottom20 {
    padding-bottom: 20px !important;
}

/* line 136, ../scss/tools.scss */
.paddingBottom30 {
    padding-bottom: 30px !important;
}

/* line 137, ../scss/tools.scss */
.paddingBottom40 {
    padding-bottom: 40px !important;
}

/* line 138, ../scss/tools.scss */
.paddingBottom50 {
    padding-bottom: 50px !important;
}

/* line 139, ../scss/tools.scss */
.paddingBottom1 {
    padding-bottom: 1em !important;
}

/* line 140, ../scss/tools.scss */
.paddingBottom2 {
    padding-bottom: 2em !important;
}

/* line 141, ../scss/tools.scss */
.paddingBottom3 {
    padding-bottom: 3em !important;
}

/* line 142, ../scss/tools.scss */
.paddingBottom4 {
    padding-bottom: 4em !important;
}

/* line 143, ../scss/tools.scss */
.paddingBottom5 {
    padding-bottom: 5em !important;
}

/*height*/
/* line 146, ../scss/tools.scss */
.height50 {
    height: 50px !important;
}

/* line 147, ../scss/tools.scss */
.height5 {
    height: 5em !important;
}

/* line 148, ../scss/tools.scss */
.height100 {
    height: 100px !important;
}

/* line 149, ../scss/tools.scss */
.height10 {
    height: 10em !important;
}

/* line 150, ../scss/tools.scss */
.height150 {
    height: 150px !important;
}

/* line 151, ../scss/tools.scss */
.height15 {
    height: 15em !important;
}

/* line 152, ../scss/tools.scss */
.height200 {
    height: 200px !important;
}

/* line 153, ../scss/tools.scss */
.height20 {
    height: 20em !important;
}

/* line 154, ../scss/tools.scss */
.height50 {
    height: 50px !important;
}

/* line 155, ../scss/tools.scss */
.height5 {
    height: 5em !important;
}

/* line 156, ../scss/tools.scss */
.height250 {
    height: 250px !important;
}

/* line 157, ../scss/tools.scss */
.height25 {
    height: 25em !important;
}

/* line 158, ../scss/tools.scss */
.height300 {
    height: 300px !important;
}

/* line 159, ../scss/tools.scss */
.height30 {
    height: 30em !important;
}

/* line 160, ../scss/tools.scss */
.height350 {
    height: 350px !important;
}

/* line 161, ../scss/tools.scss */
.height35 {
    height: 35em !important;
}

/* line 162, ../scss/tools.scss */
.height400 {
    height: 400px !important;
}

/* line 163, ../scss/tools.scss */
.height40 {
    height: 40em !important;
}

/* line 164, ../scss/tools.scss */
.height450 {
    height: 450px !important;
}

/* line 165, ../scss/tools.scss */
.height45 {
    height: 45em !important;
}

/* line 167, ../scss/tools.scss */
.maxHeight50 {
    max-height: 50px !important;
}

/* line 168, ../scss/tools.scss */
.maxHeight5 {
    max-height: 5em !important;
}

/* line 169, ../scss/tools.scss */
.maxHeight100 {
    max-height: 100px !important;
}

/* line 170, ../scss/tools.scss */
.maxHeight10 {
    max-height: 10em !important;
}

/* line 171, ../scss/tools.scss */
.maxHeight150 {
    max-height: 150px !important;
}

/* line 172, ../scss/tools.scss */
.maxHeight15 {
    max-height: 15em !important;
}

/* line 173, ../scss/tools.scss */
.maxHeight200 {
    max-height: 200px !important;
}

/* line 174, ../scss/tools.scss */
.maxHeight20 {
    max-height: 20em !important;
}

/* line 175, ../scss/tools.scss */
.maxHeight50 {
    max-height: 50px !important;
}

/* line 176, ../scss/tools.scss */
.maxHeight5 {
    max-height: 5em !important;
}

/* line 177, ../scss/tools.scss */
.maxHeight250 {
    max-height: 250px !important;
}

/* line 178, ../scss/tools.scss */
.maxHeight25 {
    max-height: 25em !important;
}

/* line 179, ../scss/tools.scss */
.maxHeight300 {
    max-height: 300px !important;
}

/* line 180, ../scss/tools.scss */
.maxHeight30 {
    max-height: 30em !important;
}

/* line 181, ../scss/tools.scss */
.maxHeight350 {
    max-height: 350px !important;
}

/* line 182, ../scss/tools.scss */
.maxHeight35 {
    max-height: 35em !important;
}

/* line 183, ../scss/tools.scss */
.maxHeight400 {
    max-height: 400px !important;
}

/* line 184, ../scss/tools.scss */
.maxHeight40 {
    max-height: 40em !important;
}

/* line 185, ../scss/tools.scss */
.maxHeight450 {
    max-height: 450px !important;
}

/* line 186, ../scss/tools.scss */
.maxHeight45 {
    max-height: 45em !important;
}

/* line 187, ../scss/tools.scss */
.height100p {
    height: 100% !important;
}

/* line 189, ../scss/tools.scss */
.minHeight50 {
    min-height: 50px !important;
}

/* line 190, ../scss/tools.scss */
.minHeight5 {
    min-height: 5em !important;
}

/* line 191, ../scss/tools.scss */
.minHeight100 {
    min-height: 100px !important;
}

/* line 192, ../scss/tools.scss */
.minHeight10 {
    min-height: 10em !important;
}

/* line 193, ../scss/tools.scss */
.minHeight150 {
    min-height: 150px !important;
}

/* line 194, ../scss/tools.scss */
.minHeight15 {
    min-height: 15em !important;
}

/* line 195, ../scss/tools.scss */
.minHeight200 {
    min-height: 200px !important;
}

/* line 196, ../scss/tools.scss */
.minHeight20 {
    min-height: 20em !important;
}

/* line 197, ../scss/tools.scss */
.minHeight50 {
    min-height: 50px !important;
}

/* line 198, ../scss/tools.scss */
.minHeight5 {
    min-height: 5em !important;
}

/* line 199, ../scss/tools.scss */
.minHeight250 {
    min-height: 250px !important;
}

/* line 200, ../scss/tools.scss */
.minHeight25 {
    min-height: 25em !important;
}

/* line 201, ../scss/tools.scss */
.minHeight300 {
    min-height: 300px !important;
}

/* line 202, ../scss/tools.scss */
.minHeight30 {
    min-height: 30em !important;
}

/* line 203, ../scss/tools.scss */
.minHeight350 {
    min-height: 350px !important;
}

/* line 204, ../scss/tools.scss */
.minHeight35 {
    min-height: 35em !important;
}

/* line 205, ../scss/tools.scss */
.minHeight400 {
    min-height: 400px !important;
}

/* line 206, ../scss/tools.scss */
.minHeight40 {
    min-height: 40em !important;
}

/* line 207, ../scss/tools.scss */
.minHeight450 {
    min-height: 450px !important;
}

/* line 208, ../scss/tools.scss */
.minHeight45 {
    min-height: 45em !important;
}

/*resp height*/
/* line 211, ../scss/tools.scss */
.heightResp {
    height: 400px !important;
}

@media (max-width: 767px) {
    /* line 214, ../scss/tools.scss */
    [class*="heightResp"], .uneditable-input[class*="heightResp"], .row-fluid [class*="heightResp"] {
        display: block;
        float: none;
        height: 300px !important;
    }
}
/*resp width*/
/* line 223, ../scss/tools.scss */
.width100p {
    width: 100% !important;
}

/* line 224, ../scss/tools.scss */
.width {
    width: 33.6% !important;
    margin-left: 0.5% !important;
}

/* line 228, ../scss/tools.scss */
.width2 {
    width: 50% !important;
    float: left !important;
}

/* line 232, ../scss/tools.scss */
.width3 {
    width: 76.7% !important;
    float: left;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    /* line 238, ../scss/tools.scss */
    [class*="width"], .uneditable-input[class*="width"], .row-fluid [class*="width"] {
        display: block;
        float: none;
        width: 100% !important;
        margin-left: 0 !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
/*annimations*/
/*slide*/
/* line 252, ../scss/tools.scss */
.rightSlide.ng-enter, .rightSlide.ng-leave {
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -ms-animation-duration: .8s;
    -o-animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -animation-fill-mode: both;
}

/* line 258, ../scss/tools.scss */
.rightSlide.ng-enter {
    position: absolute;
    top: 0;
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -ms-animation-name: slideInRight;
    -o-animation-name: slideInRight;
}

/* line 259, ../scss/tools.scss */
.rightSlide.ng-leave {
    -webkit-animation-name: slideOutLeft;
    -moz-animation-name: slideOutLeft;
    -ms-animation-name: slideOutLeft;
    -o-animation-name: slideOutLeft;
}

/*fade*/
/* line 262, ../scss/tools.scss */
.fadeSlide.ng-enter, .fadeSlide.ng-leave {
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -ms-animation-duration: .8s;
    -o-animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -animation-fill-mode: both;
}

/* line 268, ../scss/tools.scss */
.fadeSlide.ng-enter {
    position: absolute;
    top: 0;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
}

/* line 269, ../scss/tools.scss */
.fadeSlide.ng-leave {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    -o-animation-name: fadeOut;
}