<div ng-if="!$root.slider"
    class="column large-12 paddingTop10 paddingBottom50 marginBottom50" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div  flex="100" class="grid">
        <project-min ng-repeat="project in projects | filter: {'column': 0}">
            </project-min>
    </div>
    <div flex-gt-lg="33" flex-gt-md="50" flex-xs="100" flex-gt-sm="100" class="grid">
        <project-min ng-repeat="project in projects | filter: {'column': 1}">
            </project-min>
    </div>
    <div flex-gt-lg="33" flex-gt-md="50" flex-gt-md="33" flex-xs="100" flex-gt-sm="100" class="grid">
        <project-min class="width100p float-left" ng-repeat="project in projects | filter: {'column': 2}">
        </project-min>
    </div>
    <div  flex-gt-lg="33"flex-xs="100" flex-gt-sm="100" class="grid">
        <project-min ng-repeat="project in projects | filter: {'column': 3}">
        </project-min>
    </div>
</div>
<div ng-if="$root.slider" class="height100p width100p float-left slider">
   <div class="column small-1 height100p" ng-click="controller.prevIndex()">
       <i class="chevron left float-right height100p"></i>
   </div>
   <div ng-repeat="project in projects | orderBy: 'position'"
        class="height100p column small-10 text-center"
        ng-if="$parent.index == $index">
       <img ng-src="{{project.image}}"
            style="max-height: {{project.maxHeight}}px; max-width: {{project.maxWidth}}px;"
            class="animated fadeIn"
            ng-class="{'height100p': !project.isLandscape, 'width100p': project.isLandscape}"/>
   </div>
   <div class="column small-1 height100p" ng-click="controller.nextIndex()">
       <i class="chevron right float-left"></i>
   </div>
</div>