<span class="tooltip-trigger">
        <md-button class="md-fab md-mini md-primary"
                   ng-class="{'md-hue-2': !controller.slider}"
                   ng-click="controller.slider = false" aria-label="Gallery">
            <i class="fa fa-th"></i>
        </md-button>
        <i class="tooltip-custom animated marginLeft20">
            Gallery
        </i>
      </span>
<span class="tooltip-trigger">
        <md-button class="md-fab md-mini md-primary"
                   ng-class="{'md-hue-2': controller.slider}"
                   ng-click="controller.slider = true; controller.setIndex(0)">
            <i class="fa fa-expand"></i>
        </md-button>
        <i class="tooltip-custom animated marginLeft0">
            Slider
        </i>
      </span>
<span class="tooltip-trigger">
        <a class="md-fab md-mini md-primary md-button"
           ng-class="{'md-hue-2': controller.showCv}"
           ng-click="controller.showCv = !controller.showCv">
            <b>C.V</b>
        </a>
        <i class="tooltip-custom animated">
            Curriculum Vitae
        </i>
      </span>
<span class="tooltip-trigger">
    <a class="md-fab md-mini md-primary md-button"
       ng-class="{'md-hue-2': controller.showContact}"
       ng-click="controller.showContact = !controller.showContact">
        <i class="fa fa-envelope"></i>
    </a>
    <i class="tooltip-custom animated">
        Contact
    </i>
</span>