
<md-progress-circular md-mode="indeterminate" ng-show="controller.inProgress" style="margin-left: auto; margin-right: auto;"></md-progress-circular>
<div ng-if="!controller.slider"
    class="column large-12 paddingTop0 paddingLeft0 paddingRight0 paddingBottom50 marginBottom50"
     layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div class="image-project float-left text-center width100p" >
       <project-min ng-init="directive.setBaseHeight(controller.baseHeight)"
                    ng-repeat="project in orderedProjects = (projects | orderBy: 'columnNumber')" class="float-left relative image-project">
       </project-min>
    </div>
</div>
<div ng-if="controller.slider" class="height100p width100p float-left">
    <div class="absolute width100p">
        <span ng-click="controller.slider = false; $root.full = false" ng-show="$root.full" class="pointer tooltip-trigger">
        <md-button class="md-fab md-mini md-primary float-right" >
            <i class="fa fa-times" ></i>
        </md-button>
        </span>
        <span ng-click="$root.full = false" ng-if="$root.full" class="pointer tooltip-trigger">
            <md-button class="md-fab md-mini md-primary float-right" >
                <i class="fa fa-minus" ></i>
            </md-button>
        </span>
    </div>
   <div class="height100p width100p float-left slider" style="display: flex">
       <div class="float-left marginLeft10 height100p pointer" ng-click="controller.prevIndex()" hide-sm hide-md>
           <i class="chevron left float-right height100p"></i>
       </div>
       <div ng-repeat="project in projects"
            class="height100p flex padding0 text-center"
            ng-if="$parent.index == $index"
            md-swipe-right="controller.prevIndex()"
            md-swipe-left="controller.nextIndex()">
           <img ng-src="{{project.image}}"
                style="max-height: {{project.maxHeight}}px; max-width: {{project.maxWidth}}px; "
                class="animated fadeIn imageSlider"
                ng-class="{'height100p': !project.isLandscape, 'width100p': project.isLandscape}"/>
       </div>
       <div class=" float-right marginRight10 height100p pointer" ng-click="controller.nextIndex()" hide-sm hide-md>
           <i class="chevron right float-left"></i>
       </div>
   </div>
    <span class="text-center paddingBottom50 marginBottom50 width100p float-left" style="line-height: normal" ng-show="!$root.full">
        <b class="textColorWhite width100p float-left">{{projects[index].name}}</b>
        <span ng-repeat="technologie in projects[index].technologies" class="tooltip-trigger animated fadeIn">
            <md-button class="md-fab md-mini md-icon-button md-primary " style="cursor: auto!important;"
                       aria-label="{{controller.refactorTech(technologie)}}">
                <md-icon md-svg-src="{{technologie}}"></md-icon>
            </md-button>
            <a style="cursor: auto!important;">{{controller.refactorTech(technologie)}}</a>
        </span>
        <b class="column"><i class="text-center column textPrimColor" >{{projects[index].description}}</i></b>
    </span>
    <div hide-gt-sm class="paddingBottom20 column"></div>
    <div hide-gt-sm class="paddingBottom50 column" ng-if="$root.showMenu"></div>
</div>