<span class="tooltip-trigger">
        <md-button class="md-fab md-mini md-primary"
                   ng-class="{'md-hue-2': !controller.slider}"
                   ng-click="controller.slider = false" aria-label="Gallery">
            <i class="fa fa-th"></i>
        </md-button>
        <i class="tooltip-custom animated marginLeft20">
            Gallery
        </i>
      </span>
<span class="tooltip-trigger">
        <md-button class="md-fab md-mini md-primary"
                   ng-class="{'md-hue-2': controller.slider}"
                   ng-click="controller.slider = true; controller.setIndex(0)">
            <i class="fa fa-expand"></i>
        </md-button>
        <i class="tooltip-custom animated marginLeft0">
            Slider
        </i>
      </span>
<span class="tooltip-trigger">
        <a class="md-fab md-mini md-primary md-button"
           ng-class="{'md-hue-2': controller.showCv}"
           ng-click="controller.showCv = !controller.showCv">
            <b>C.V</b>
        </a>
        <i class="tooltip-custom animated">
            Curriculum Vitae
        </i>
      </span>
<span class="tooltip-trigger" hide-sm>
    <a class="md-fab md-mini md-primary md-button"
       ng-click="showMail = !showMail">
        <i class="fa fa-envelope"></i>
    </a>
    <b class="tooltip-custom animated block" ng-show="showMail">tristan-delgado&#64;hotmail.fr</b>
    <i class="tooltip-custom animated" ng-show="!showMail">
        tristan-delgado&#64;hotmail.fr
    </i>
</span>
<span hide-gt-sm>
    <a class="md-fab md-mini md-primary md-button" ng-click="showMail = !showMail">
        <i class="fa fa-envelope"></i>
    </a>
    <b  ng-show="showMail" class="column">
        tristan-delgado&#64;hotmail.fr
    </b>
</span>