<figure class="effect-zoe"
        ng-click="controller.setIndexById(project.id); controller.slider = true;">
    <img ng-src="{{project.image}}" />
    <figcaption>
        <h2 class="textLeft column small-6">{{project.name}}</h2>
        <p class="icon-links">
            <a ng-repeat="technologie in project.technologies" class="float-right tooltip-trigger">
                <md-button href="#" class="md-fab md-mini md-icon-button md-primary "
                           aria-label="{{controller.refactorTech(technologie)}}">
                    <md-icon md-svg-src="{{technologie}}"></md-icon>
                </md-button>
                <i class="tooltip-custom animated ">
                    {{controller.refactorTech(technologie)}}
                </i>
            </a>
        </p>
        <p class="description width100p left0" hide-sm>{{project.description}}</p>
    </figcaption>
</figure>