<img ng-src="{{project.image}}" ng-init="$parent.directive.recalculHeight()" style="height: 400px"/>
<figure
        class="height100p width100p margin0 top0 left0 absolute effect-zoe pointer"
        style="overflow: hidden"
        ng-click="controller.setIndexById(project.id); controller.slider = true;">
    <figcaption class="width100p absolute">
        <h2 class="textLeft column small-6">{{project.name}}</h2>
        <p class="icon-links" ng-init="limit = 3" ng-mouseleave="showAllTechs = false">
            <a ng-mouseenter="showAllTechs = true" ng-show="!showAllTechs && project.technologies.length > 2">...</a>
            <span>
                <a ng-repeat="technologie in project.technologies | limitTo: 2" class="float-right tooltip-trigger ">
                    <md-button style="cursor: auto!important;" class="md-fab md-mini md-icon-button md-primary "
                               aria-label="{{controller.refactorTech(technologie)}}">
                        <md-icon md-svg-src="{{technologie}}"></md-icon>
                    </md-button>
                    <i class="tooltip-custom animated ">
                        {{controller.refactorTech(technologie)}}
                    </i>
                </a>
            </span>
            <span ng-show="showAllTechs">
                <a ng-repeat="technologie in project.technologies" ng-if="$index > 1" class="float-right tooltip-trigger ">
                    <md-button style="cursor: auto!important;" class="md-fab md-mini md-icon-button md-primary "
                               aria-label="{{controller.refactorTech(technologie)}}">
                        <md-icon md-svg-src="{{technologie}}"></md-icon>
                    </md-button>
                    <i class="tooltip-custom animated ">
                        {{controller.refactorTech(technologie)}}
                    </i>
                </a>
            </span>
        </p>
        <!--<p class="description width100p left0" hide-sm>{{project.description}}</p>-->
    </figcaption>
</figure>